.body {
    margin: 1rem auto;
    width: 30%;
    height: 80%;
    background-color: #ffcacf;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #555;
}

.label {
    text-align: left;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: (15px);
}

.inputSection {
    flex: 10;
}

.closerContainer {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.closer {
    width: 4rem;
    font-size: 32px;
    text-align: center;
    background-color: #ff0000;
    color: #fff;
    padding: 0 .3rem;
    border-radius: 10px;
}

.closer:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);

}

.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form .input,
.btn {
    width: 100%;
    padding: .8rem 0;
    border-radius: 10px;
    background-color: transparent;
    border: none;
}

.btn {
    background-color: #ffb1b9;
    padding: .5rem;
    width: 50%;
    align-self: center;
    color: #555;
    cursor: pointer;
}