.body {
    margin: 1rem auto;
    width: 50vw;
    min-width: 632px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    z-index: 1;
}

.h3 {
    font-size: 18px;
    margin: 0 5rem;
    text-align: right;
}

.top {
    width: 80%;
    margin: 0 auto;
}

.smaller {
    font-size: 24px;
}

.topNext {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.btnTop {
    outline: none;
    border: none;
    color: #ffb1b9;
    font-weight: bold;
    font-size: 24px;
    background-color: transparent;
}

.btnTop:hover {
    font-weight: bolder;
    cursor: pointer;
}

.date {
    margin: 0;
    padding: 0;
    display: none;
}
.jsp {
    text-align: center;
    color: linear-gradient(90deg, #ffb1b9, #f6cfd0, #febaae, #febaae, #ffbcaa, #eeccc6);
}