.body {
    display: flex;
    width: 80%;
    margin: 2rem auto;
    height: 7.5vh;
    justify-content: space-between;
    color: #555;
    background: linear-gradient(90deg, #ffb1b9, #f6cfd0, #febaae, #febaae, #ffbcaa, #eeccc6);
    text-align: center;
    padding: .9rem;
    border-radius: 10px;
    font-size: 18px;
}

.twoSide {
    display: flex;
    gap: 3rem;
}

.icon:hover,
.content:hover {
    color: #fefefefe;
    cursor: pointer;
    /* font-size: larger; */
}

.icon::selection {
    color: green;
}