.body {
    display: flex;
    width: 80%;
    margin: 2rem auto;
    height: 7.5vh;
    justify-content: space-between;
    color: #a0a0a0;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: line-through;
    background-color: #ffffff;
    overflow-wrap: break-word;
}

.twoSide {
    display: flex;
    gap: 3rem;
}

.icon:hover,
.content:hover {
    cursor: pointer;
    /* font-size: larger; */
    color: #ffb1b9;
}